alembic
Flask
Flask-Cors
Flask-Login
Flask-Migrate
Flask-SocketIO
Flask-SQLAlchemy
gunicorn
psycopg2-binary
PyJWT
PyQt5
PyQt5-Qt5
PyQt5-sip
python-dotenv
python-engineio
python-socketio
SQLAlchemy
typing_extensions
wtf