.chat-message {
    border: 1px solid blue;
}

.dots {
    margin: 0;
    cursor: pointer
}

.time {
    font-size: 0.8rem;
}

.dialog-box {
    display: none;

}

.dialog-box-show {
    display: inherit
}

#chat-form {
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: end;
    width: 80%;
}

textarea {
    flex-grow: 1;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-right: 8px;
    outline: none;
    max-height: 200px;
    height: 56px;
    overflow-y: hidden;
}

@media screen and (min-width: 700px) {
    textarea {
        width: 40%;
    }
}

.input-area > #chat-form > button {
    padding: 8px 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    max-height: 30px;
}

button:hover {
    background-color: #0056b3;
}