<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="/static/home.css">
    <link rel="stylesheet" href="../static/chat.css">
    <link rel="stylesheet" href="../static/register.css">
    <link rel="stylesheet" href="../static/start_page.css">
    <link rel="stylesheet" href="../static/base.css">
</head>
<body>
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                {% if category != "password-error" %}
                    <div id="flash" class="{{ category }}">
                            <p>{{ message }}</p>                      
                    </div>
                {% endif %}
            {% endfor %}
        {% endif %}
    {% endwith %}

    {% block header %}
    {% endblock %}
    

    
    {% block main %}{% endblock %}
    
</body>
</html>