<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="/static/home.css">
    <link rel="stylesheet" href="../static/chat.css">
    <link rel="stylesheet" href="../static/register.css">
    <link rel="stylesheet" href="../static/start_page.css">
    <link rel="stylesheet" href="../static/base.css">
</head>
<body>
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                {% if category != "password-error" %}
                    <div id="flash" class="{{ category }}">
                            <p>{{ message }}</p>       
                            <div class="cancel-button">X</div>               
                    <div class="countdown-bar"></div>    
                    </div>
                    
                {% endif %}
            {% endfor %}
        {% endif %}
    {% endwith %}

    {% block header %}
    {% endblock %}
    

    
    {% block main %}{% endblock %}
    
    <script type="text/javascript">
        const cancelBtn = document.querySelector(".cancel-button");

        cancelBtn.addEventListener('click', handleDeleteFlashedMessageButton)

        function handleDeleteFlashedMessageButton () {
            const flash =  document.getElementById('flash');

            flash.parentNode.removeChild(flash)
        }

        function reduceLengthOfBar() {
            // This is a function to reduce the length of the countdown bar per time
            const bar = document.querySelector('.countdown-bar');
            
            
            if (bar.offsetWidth == 0) {
                handleDeleteFlashedMessageButton()
                clearInterval(intervalId)
            } else {
                bar.style.width = `${bar.offsetWidth-1}px`
            }
        }

        let intervalId = setInterval(() => {reduceLengthOfBar()}, 10)

        
</script>
</body>
</html>