{% extends 'base.html' %}
{% block header %}
<header>
    <h1>Chat</h1>

    <h1 class="logo">ShareX</h1>
    
    <button id="home-btn"> Home </button>
</header>   

{% endblock %}

{% block main%}
<div class="username-container">Logged in as <h4 class="username">{{current_username}}</h4></div>
<main id="chat-main">
    <div class="chat-container">
        <div class="chat-messages">
            

            {% for message in previous_messages %}
            <div class="chat-message sent" data-message-id="{{message.id}}">
                
                <div class="message"> {{message.message}}</div>
                <div class="time">{{message.updated_at}}</div>
                <div  id="dots" class="dots-container"><h4 class="dots">...</h4></div>
                <div id="dialog-box" class="dialog-box">
                    
                    <button type="submit" onclick="deleteMessage({{message.id}})" class="delete-message">Delete message</button>
                    <button type="submit" class="edit-message">Edit Message</button>    
                    
                </div>
            </div>
            {% endfor %}
        </div>
         
    </div>
    <div class="input-area">
        <form id="chat-form" action="{{url_for('chat')}}" method="post">
              <textarea name="msg-input" id="msg-input" class="text" placeholder="Send a message">
              </textarea>
              <button type="submit">Send</button>
              
       </form>
      </div>
</main>    
    
    <script type="text/javascript">
        let homeBtn = document.getElementById('home-btn')
        homeBtn.addEventListener('click', navigateToHome)
        
        let dotsBtns = document.querySelectorAll('#dots')
        Array.from(dotsBtns).forEach((dotsBtn) => {
            dotsBtn.addEventListener('click', () => {
            const dialogBox = dotsBtn.parentNode.querySelector('#dialog-box')
            if (dialogBox.classList.contains('dialog-box-show')) {
                dialogBox.classList.remove('dialog-box-show')
            } else {
                dialogBox.classList.add('dialog-box-show')
            }
        })

        })

        function deleteMessage(messageId) {
            fetch(`/chat/delete_message/${messageId}`, {
                method: "POST",
                headers: {
                    'Content-Type': 'application/json',
                },
            }).then(response => {
                if (response.ok) {
                    const messageElement = document.querySelector(`.chat-message[data-message-id="${messageId}"]`)
                    if (messageElement) {
                        messageElement.remove();
                    }
                }
            }).catch(error => {
                console.error('Error deleting message', error);
            });
        }

        function navigateToHome () {
            window.location.href = '/'
        }
    </script>
{% endblock %}