{% extends 'base.html' %}
{% block header %}
<header>
    <h1>Chat</h1>

    <h1 class="logo">ShareX</h1>
    
    <button id="home-btn"> Home </button>
</header>   

{% endblock %}

{% block main%}
<div class="username-container">Logged in as <h4 class="username">{{current_username}}</h4></div>
<main id="chat-main">
    <div class="chat-container">
        <div class="chat-messages">
            

            {% for message in previous_messages %}
            <div class="chat-message sent" data-message-id="{{message.id}}">
                
                <div class="message"> {{message.message}}</div>
                <div class="time">{{message.updated_at}}</div>
                <div  id="dots" class="dots-container"><h4 class="dots">...</h4></div>
                <div id="dialog-box" class="dialog-box">
                    
                    <button type="submit" onclick="deleteMessage({{message.id}})" class="delete-message">Delete message</button>
                    <button type="submit" onclick="showEditInput({{message.id}})" class="edit-message">Edit Message</button>    
                                   
                    </div>
                
             </div>
             
             <!--<form id="patch-form">-->
                <div class="edit-container" data-message-id="{{message.id}}">
                    <textarea name="edit" id="edit-textarea" cols="30" rows="10" data-message-id="{{message.id}}"></textarea>
                    <button onclick="editMessage({{message.id}})" type="submit">Edit</button>
                    <button class="cancel-btn" onclick="hideEditInput({{message.id}})">Cancel</button>        
                </div>
             <!--</form>-->
            {% endfor %}
        </div>
         
    </div>
    <div class="input-area">
        <form id="chat-form" action="{{url_for('chat')}}" method="post">
              <textarea name="msg-input" id="msg-input" class="text" placeholder="Send a message">
              </textarea>
              <button type="submit">Send</button>
              
       </form>
      </div>
</main>    
    
    <script src="{{url_for('static', filename='js/chat.js')}}"></script>
    
{% endblock %}