:root {
    --primary-bg: rgb(82, 82, 228);
}

/* The header section which includes the logo, username and some buttons */
#chat-header {
    display: grid;
    grid-template-columns: 10% 10% 30% 40% 10%;
    align-items: center;     
    max-width: 100%;
    max-height: 10vh;
}


#chat-header > .logo > h1, 
.home-btn > h1,
.username > h2 {
    margin: 0;
    
}

.home-btn {
    cursor: pointer;
}

.username {
    border-left: 1px solid #007bff;
    margin-left: 0.4rem;
}

.options > h1 {
    writing-mode: vertical-lr;
    text-orientation: mixed;
    
}

.icon {
    height: 40px;
    border-radius: 50%;
    background:linear-gradient(#628cb9, rgb(192, 150, 192)) ;
}

#chat-header > button {
    background-color: transparent;
    font-size: 1.5rem;
    font-weight: 500;
    cursor: pointer;
    transition: 1s;
}

#chat-header > button:hover {
    background-color: #007bff;

}



/*------------------------------------------------------------------
--------------------------------------------------------------------
-------------------------------------------------------------------*/

/*---------------------The chat box-----------------------------------------------*/
.date-container {
    background-color: var(--primary-bg);
    color: white;
    padding: 0.5rem;
    margin-bottom: 1rem;
    text-align: center;
    width: 60%;
    border-radius: 10px;
    margin: auto;
}

.chat-messages {
    max-height: 80vh;
    overflow-y: scroll; 
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
}

.chat-message {
    max-width: fit-content;
    background-color: var(--primary-bg);
    color: white;
    margin-bottom: 1rem;
    border-radius: 10px;
    padding: 10px;
    position: relative;
    right: 0    
}



.dots {
    margin: 0;
    cursor: pointer
}

.time {
    font-size: 0.8rem;
}

.dialog-box {
    display: none;

}

.dialog-box-show {
    display: inherit
}

.edit-container {
    display: none

}

/*Class toggleable by javascript for the edit message container*/
.edit-container-show {
    display: inherit
}



/*----------------------------------------
-------------------------------------------
------------------------------------------*/

/*----------Input area---------------------*/
.input-area {
    min-width: 100%;
    height: 10vh;
    display: flex;
    justify-content: center;
    position: fixed;
    bottom: 0;
    background-color: #fff;
}

#chat-form {
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: end;
    

}

textarea {
    flex-grow: 1;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-right: 8px;
    outline: none;
    max-height: 200px;
    height: 56px;
    overflow-y: hidden;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.input-area > #chat-form > button {
    padding: 8px 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    max-height: 30px;
}


/*----------------------------------------
--------------Media Queries --------------
------------------------------------------*/
@media screen and (min-width: 700px) {
    textarea {
        width: 40%;
    }
}

@media screen and (min-width: 700px) {
    #chat-header {
        width: 50vw;
        margin: auto;
        margin-bottom: 2rem;
        display: grid;
        grid-template-columns: 5% 7% 33% 45% 10%;    
    }

    .chat-message {
        max-width: 80%;

    }   
}