/* Styles for home.css*/
:root {
    --primary-text: rgb(107, 124, 201);
}

*,
::before,
::after {
    box-sizing: border-box;
}


header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2rem;
}

header > h1 {
    margin: 0;
}

header > .logo {
    color: var(--primary-text)
} 

header > button {
    height: 30px;
    background-color: rgb(141, 141, 189);
    outline: none;
    border: none;
    color: black
}

.sessions {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main > h1 {
    color: var(--primary-text)
}

.session {
    width: 100%;
    max-height: 50px;
    border: 1px solid blue;
    box-shadow: 1px 1px  rgb(0,0,0);
}

.session > p,
.session > h3 {
    margin: 0
}

.session > .message-body {
    font-size: 0.8rem;
}

@media screen and (min-width: 700px) {
    main {
        width: 50vw;
        margin: auto
    }

}